* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 90px 0 40px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

.container {
    width: 80%;
	height:65vh;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.message-card {
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #e0f7fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.message-card:hover {
    background-color: #b2ebf2;
}

.message-card b {
    font-weight: bold;
    color: #333;
}

button.open-message {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button.open-message:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

