body {
    background: rgb(99, 39, 120);
	font-family: Roboto, sans-serif;
}

.rounded-square {
    object-fit: cover;
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height to match the width */
    border-radius: 10px; /* Adjust the border radius to control the roundness of corners */
}
.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8;
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none;
}

.profile-button:hover {
    background: #682773;
}

.profile-button:focus {
    background: #682773;
    box-shadow: none;
}

.profile-button:active {
    background: #682773;
    box-shadow: none;
}

.back:hover {
    color: #682773;
    cursor: pointer;
}

.labels {
    font-size: 11px;
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8;
}
